body {
	background: url("../images/fifa2.jpg") center center no-repeat fixed;
	background-size: cover;
	opacity: 0.9;
}

.h1cabecera {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

	
	#main-header a {
		color: #ffee00;
	}
 

#main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	z-index: 100;
}

/*Logo*/
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #ffee00;
	}
	
 
/*Navegación*/
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}


#main-content {
	
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}


/*ESTRUCTURA WEB*/
#wrap {
	width: 97%;
	margin: 10% auto;
	}

#container {
	float: left;
	width: 94%;
	margin: 3%;
}


/*HEADER*/
#header {
	float: left;
	width: 96%;
	margin: 0 2%;
	background-color: black; 
	border-radius: 15px 15px 0 0;
	opacity: 0.9;
}

#header h1 {
	font: normal bold 60px 'Orbitron', Arial, Tahoma, sans-serif;
	font-variant: small-caps;
	text-align: center;
	letter-spacing: 2px;
	line-height: 40px;
	color: #ffee00;
}


.ortiz{
	color:#ffee00;
}



#animation-header {
	float: left;
	height: 2px;
	animation: animation 5s linear 3s infinite;
	-webkit-animation: animation 5s linear 3s infinite;
	-moz-animation: animation 5s linear 3s infinite;
	-o-animation: animation 5s linear 3s infinite;
}


/*SINOPSIS*/
#sinopsis {
	float: left;
	width: 90%;
	height: 100%;
	margin: 0 2% 10% 2%;
	padding: 3% 3% 3% 3%;
	background: url("../images/campo1.jpg") no-repeat;
}


/*SIRVE PARA TODAS LAS SECCIONES*/
.deco-h1 {
	font: normal bold 30px 'PT sans', Arial, sans-serif;
	color: #ffee00;
	line-height: 28px;
}


table {
	color:white;
	padding: 2%;
	border: 1px white solid;
	background-color: #013220;
	width: 100%;
}

td{
	text-align: center;
}

thead{
	
}

tbody{
	border: 1px;
}


.deco-under-h1 {
	float: left;
	width: 5%;
	background-color: #fff;
	height: 5px;
}

section {
	float: left;
	width: 80%;
	margin: 1% 10% 0 10%;
	opacity: 1;
}

p {
	font: normal normal 15px 'PT sans', Arial, sans-serif;
	color: #fff;
	line-height: 23px;
	text-align: justify;
	padding: 0;
}



/*TRAILER*/


iframe {
	float: left;
	width: 100%;
}


/*FICHA TÉCNICA*/
#ficha-tecnica {
	float: left;
	width: 92%;
	margin: 0% 0 10% 2%;
	padding: 2%;
	background-color: black;
	overflow: hidden;
}

#ficha-tecnica table {
	float: left;
	width: 98%;
	margin: 2% 1% 0 1%;
	background-color: #eee; 
	border-collapse: separate;
	border-spacing: 2px;
	opacity: 0.9;
}

#ficha-tecnica table thead {

}

#ficha-tecnica table thead tr:last-child {
	border-bottom: 0;
}

#ficha-tecnica table thead tr th {
	padding: 10px 20px;
	font: normal bold 14px Tahoma, Verdana;
	color: #fff;
	background-color: black;
	text-align: center;
}

#ficha-tecnica table tbody {
}

#ficha-tecnica table tbody tr td {
	padding: 10px 20px;
	text-align: center;
	font: normal normal 15px Tahoma, Verdana;
	background-color: black;
	vertical-align: middle;
}

.yellow {
	color: #ffee00;
}



/*FOOTER*/
#footer {
	float: left;
	width: 100%;
	height: 100px;
	background-color: black;
	border-radius: 0 0 15px 15px;
}

#footer p {
	margin: 10px 0;
	font: italic normal 14px 'PT sans', Arial, Tahoma, sans-serif;
	text-align: center;
	color: #ffee00;
}

#container-license {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

#container-license img {
	width: 50px;
	height: 50px;
	border-radius: 30px;
}



/*ANIMACIÓN DEL HEADER*/
@keyframes animation {
	0% {width: 0; background-color: #ffc; box-shadow: 1px 1px 1px #f0f0f0;}
	20% {background-color: #cff; box-shadow: 1px 1px 1px #f0f0f0;}
	40% {background-color: #3cf; box-shadow: 1px 1px 1px #f0f0f0;}
	60% {background-color: #39f; box-shadow: 1px 1px 1px #f0f0f0;}
	80% {background-color: #36f; box-shadow: 1px 1px 1px #f0f0f0;}
	100% {width: 100%; background-color: #30f; box-shadow: 1px 1px 1px #f0f0f0;}
}	

@media (max-width: 599px) {
  #header .container {
    width: 100%;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}